/*Default styles*/
body {
  line-height: normal;
}

.name {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  vertical-align: baseline;
}
.container {
  --bs-gutter-x: 0;
  margin-left: 0;
}
ul {
  margin-top: 1em;
}

/*Other styles*/
.col {
  position: relative;
  height: 300px;
}

.btn-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 11%;
  border-radius: 0;
}

.text-border {
  border-bottom: 2px solid black;
  padding: 0px;
}

@media (max-width: 576px) {
  .btn-bottom {
    height: 10%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .btn-bottom {
    height: 9%;
  }
}
